.section-letter{
    .letter{
        padding: rem(40) rem(100);
        background-color: var(--color-white);
        box-shadow: 0 0 15px 5px rgba(24, 18, 30, 0.12);
        @include sm{
            padding: rem(20) rem(30);
        }
        .letter-caption{
            display: block;
            font-size: rem(18);
            line-height: rem(20);
            letter-spacing: 0;
            font-weight: 400;
            color: rgb(242, 190, 34);
            margin-bottom: rem(8);            
        }
        .letter-title{
            font-size: rem(26);
            line-height: 120%;            
            font-weight: 800;
            color: var(--color-title);
            margin-bottom: rem(10);
            @include sm{
                font-size: rem(20);
            }
        }
        label{
            display: block;
            font-size: rem(16);
            line-height: rem(20);            
            font-weight: 600;
            margin-bottom: rem(8);
            color: var(--color-title);
        }
        input{
            height: 100%;
            width: 100%;
            padding: rem(12) rem(16);
            font-size: rem(14);
            line-height: rem(20);
            font-weight: 300;
            background-color: rgb(243, 245, 244);
            &::placeholder{
                color:rgb(24, 18, 30);
            }
        }
        p{
            padding-top: rem(12);
            font-size: rem(14);
            line-height: rem(18);
            font-weight: 600;
            color: rgb(24, 18, 30);
            a{
                font-size: rem(14);
                line-height: rem(18);
                font-weight: 600;
                color: rgb(24, 18, 30);
                text-decoration: underline;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        .btn-main{
            width: 100%;
        }
    }
}